<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mockapi>
            <general>
                <enabled>1</enabled>
                <enable_log>1</enable_log>
                <validate_token>1</validate_token>
                <token/>
                <get_display_request>1</get_display_request>
                <post_display_request>1</post_display_request>
                <validate_fields>0</validate_fields>
                <fields_to_validate />
                <enable_error>0</enable_error>
                <error_message>An unexpected error ocurred</error_message>
                <success_message>Request was successful</success_message>
            </general>
        </mockapi>
    </default>
</config>
