<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev">
            <group id="mockapi" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mock API</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>mockapi/general/enabled</config_path>
                </field>
                <!-- add input text fioeld -->
                <field id="validate_token" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Validate Token</label>
                    <comment>Enable bearer token validation</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>mockapi/general/validate_token</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="token" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token</label>
                    <config_path>mockapi/general/token</config_path>
                    <depends>
                        <field id="validate_token">1</field>
                    </depends>
                </field>
                <field id="get_display_request" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GET Display request on Response</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>mockapi/general/get_display_request</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="post_display_request" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>POST Display request on Response</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>mockapi/general/post_display_request</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
